@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #0d1117;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: 10px; 
    top: 20px;
    left: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
}


/* Menú hamburguesa */
.menu-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
    font-size: 24px;
    color: #00E494;
    background-color: transparent;
    width: 32px;
    height: 32px;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    font-size: 16px;
    top: 0;
    right: -320px;
    width: 280px;
    height: 100vh;
    background-color: #12171f;
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 999;
    overflow-y: auto;
}
.controls.active {
    right: 0;
}
label {
    display: block;
    margin-top: 20px;
    color: #576270;
}
input[type="range"],
select {
    width: 100%;
    margin-top: 5px;
}

button {
    margin-bottom: 40px;
    margin-top: 5px;
    padding: 10px;
    background-color: #00d188;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    background-color: #00E494;
}

.hidden {
    display: none;
}

ol {
list-style-type: none;
}

.keyboard {
    display: flex;
    position: relative;
    width: fit-content;
    padding: 10px;

}
.key {
    width: 60px;
    height: 200px;
    margin: 2px;
    background: white;
    border: 1px solid #12171f;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}
.key.black {
    width: 40px;
    height: 120px;
    background: black;
    position: absolute;
    top: 0;
    z-index: 1;
}
.key.black[data-note="C#4"] { left: 52px; }
.key.black[data-note="D#4"] { left: 118px; }
.key.black[data-note="F#4"] { left: 250px; }
.key.black[data-note="G#4"] { left: 315px; }
.key.black[data-note="A#4"] { left: 383px; }
.key.black[data-note="C#5"] { left: 515px; }
.key.black[data-note="D#5"] { left: 580px; }
.key:active, .key.active { background: #00E494; }

.key-label {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: black;
}
.key.black .key-label {
    color: white;
}